.profile{
    display: flex;
    gap:116px;
}

.profile__logout-button {
  background-color: transparent;
  border: 1px solid red;
  color: red;
  padding: 8px 12px;
  margin-top: 16px;
  cursor: pointer;
}