.header {
  display: flex;
  align-items: center;
  margin: 32px 40px 28px;
  justify-content: space-between; 
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: CabinetGrotesk-Light;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  font-family: CabinetGrotesk-Light;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 0;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 12px; 
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 1px solid #000;
}

.header__username {
  margin: 0;
  font-family: CabinetGrotesk-Light;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}