.footer__content {
    display: flex;
  max-width: 1360px;  
  justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 20px;
  }
  
  .footer__content-name {
    margin-left: 100px;
    padding-left: 10px;
  }
  
  .footer__content-year {
    margin-top: 0px;
    margin-left: 20px;
  }